.mobile .card-body {
	min-height: 100px;
	min-width: 300px;
}
.mobile .card.card-body {
	width: 18rem;
	margin-right: 5px;
}
.mobile {
	overflow-x: auto;
}

/*.desktop .card.card-body {
	margin: 15pt;
}*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.card-body {
		min-height: 100px;
		min-width: 300px;
		margin-right: 5px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.card-body {
		min-height: 100px;
		max-width: 320px;
		margin-right: 5px;
	}
	.card {
		margin: auto;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.card-body {
		min-height: 100px;
		max-width: 320px;
		margin-right: 5px;
	}
	.card.card-body {
		margin: auto;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.card.card-body {
		margin: 15pt;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */